.item-details {
    margin-top: 20px;
    border: 2px solid black;
    height: 220px;
    display: flex;
    flex-direction: row;
    width: 100%;
    left: 0;
}

.item-details img {
    width: 160px;
    height: 195px;
    margin-top: 10px;
    margin-right: 2vw;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 0 black;
    border: 2px solid black;
}

.item-details ul {
    list-style: none;
}