.header {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.header .App-logo {
    font-size: 3vw;
}

.header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.header ul li a {
    font-size: .9rem;

}