@keyframes ldio-vvy65m16i0c-1 {
    0% {
        top: 30px;
        height: 40px
    }

    50% {
        top: 40px;
        height: 20px
    }

    100% {
        top: 40px;
        height: 20px
    }
}

@keyframes ldio-vvy65m16i0c-2 {
    0% {
        top: 32.5px;
        height: 35px
    }

    50% {
        top: 40px;
        height: 20px
    }

    100% {
        top: 40px;
        height: 20px
    }
}

@keyframes ldio-vvy65m16i0c-3 {
    0% {
        top: 35px;
        height: 30px
    }

    50% {
        top: 40px;
        height: 20px
    }

    100% {
        top: 40px;
        height: 20px
    }
}

.loading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ldio-vvy65m16i0c div {
    position: absolute;
    width: 20px
}

.ldio-vvy65m16i0c div:nth-child(1) {
    left: 15px;
    background: #3074bf;
    animation: ldio-vvy65m16i0c-1 1.25s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: -0.25s
}

.ldio-vvy65m16i0c div:nth-child(2) {
    left: 40px;
    background: #5a6289;
    animation: ldio-vvy65m16i0c-2 1.25s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: -0.125s
}

.ldio-vvy65m16i0c div:nth-child(3) {
    left: 65px;
    background: #9687a3;
    animation: ldio-vvy65m16i0c-3 1.25s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: undefineds
}

.loadingio-spinner-pulse-b19tfxn4j8e {
    width: 76px;
    height: 76px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-vvy65m16i0c {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.76);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-vvy65m16i0c div {
    box-sizing: content-box;
}